Flask
Flask-Cors
gunicorn
gevent-websocket

# Force l'installation de PyTorch en version CPU-only
# Cela évite les énormes téléchargements de paquets CUDA (GPU)
torch --index-url https://download.pytorch.org/whl/cpu

# Whisper (utilisera la version CPU de torch installée ci-dessus)
openai-whisper

